# MSBuild
bin/
obj/

# IDEs
.vs/
.vscode/
.idea/
*.user
*.pubxml

# MSTest results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# BenchmarkDotNet artifacts
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Project locals
/src/local/

# Website build results
/build/